{% extends "base.html"%}


{% block title %}
<title>About Store</title>
{% endblock %}


{% block header %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal text-body-emphasis">About Us</h1>
  <p class="fs-5 text-body-secondary">Learn more about our store</p>
</div>
{% endblock %}

{% block body %}
<body data-page="about">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="text-center">
                <p>Welcome to our company - a space of ideas and professionalism.
                    We specialize in providing quality services and innovative solutions for our customers. Our team brings together experienced professionals striving for excellence and continuous development. We value honesty, responsibility, and mutual respect, which helps us achieve high results in any project.
                    Thanks to our creative approach and deep industry knowledge, we successfully implement the boldest ideas. We are constantly looking for new ways to optimize processes, relying on modern technologies and innovative methods. Our goal is to create a comfortable space where every idea finds its implementation, and each client's success becomes our common achievement.
                    We are proud of our achievements.</p>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
