{% extends "base.html"%}


{% block title %}
<title>Добавить товар</title>
{% endblock %}


{% block header %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal text-body-emphasis">Добавление товара</h1>
  <p class="fs-5 text-body-secondary">Добавьте новый товар в наш магазин</p>
</div>
{% endblock %}  

{% block body %}
<div class="container">
    <h1>Добавление товара</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="category" class="form-label">Категория</label>
            <select class="form-select" name="category" id="category" required>
                <option value="">Выберите категорию</option>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="subcategory" class="form-label">Подкатегория</label>
            <select class="form-select" name="subcategory" id="subcategory" required>
                <option value="">Сначала выберите категорию</option>
            </select>
        </div>
        <input type="text" class="form-control" name="title" id="title" placeholder="Введите название товара" required><br>
        <input type="number" class="form-control" name="price" id="price" placeholder="Введите цену товара" required><br>
        <input type="text" class="form-control" name="description" id="description" placeholder="Введите описание товара" required><br>
        <input type="number" class="form-control" name="weight" id="weight" placeholder="Введите вес товара" required><br>
        <div class="mb-3">
            <label for="image" class="form-label">Изображение товара</label>
            <input type="file" class="form-control" name="image" id="image" accept="image/*" required>
        </div>
        <button type="submit" class="btn btn-success">Добавить товар</button>
    </form>
</div>

<script>
document.getElementById('category').addEventListener('change', function() {
    const categoryId = this.value;
    const subcategorySelect = document.getElementById('subcategory');
    
    // Очищаем текущие подкатегории
    subcategorySelect.innerHTML = '<option value="">Выберите подкатегорию</option>';
    
    if (categoryId) {
        // Загружаем подкатегории для выбранной категории
        fetch(`/get_subcategories/${categoryId}`)
            .then(response => response.json())
            .then(data => {
                data.forEach(subcategory => {
                    const option = document.createElement('option');
                    option.value = subcategory.id;
                    option.textContent = subcategory.name;
                    subcategorySelect.appendChild(option);
                });
            });
    }
});
</script>
{% endblock %}
